version: '3.8'

services:
  db:
    image: postgres:16-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=pytaaa_user
      - POSTGRES_PASSWORD=pytaaa_pass
      - POSTGRES_DB=pytaaa_db
    ports:
      - "5432:5432"

  app:
    build: .
    volumes:
      - .:/app
    environment:
      - DATABASE_URL=postgresql+asyncpg://pytaaa_user:pytaaa_pass@db:5432/pytaaa_db
      - APP_ENV=dev
    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
